services:
  backend: 
    container_name: backend-app
    build: 
      context: ./
    ports: 
      - "8000:8000"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - PORT=8000
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/tasksdb
    depends_on:
      - db
    command: npm run dev

  db:
    container_name: postgres-db
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tasksdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
